In [1]:
from splinter import Browser
!which chromedriver

/usr/local/bin/chromedriver

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'http://www.njmls.com/m/propertysearch.html'
browser.visit(url)

In [4]:
zip_code_of_interest = input('what zip code do you want to search?')
from bs4 import BeautifulSoup 
browser.fill('searchvalue', zip_code_of_interest)
element = browser.find_by_name('radius').first
element.select("10")
browser.find_by_name('proptype')[3].click()
#browser.find_by_name('proptype')[4].click()
#browser.find_by_name('proptype')[5].click()
#browser.find_by_name('proptype')[6].click()
#browser.find_by_name('proptype')[7].click()
#browser.find_by_name('proptype')[8].click()
#browser.find_by_name('Submit').click()

what zip code do you want to search?07306

In [6]:
browser.find_by_name('Submit').click()

In [33]:
import pandas as pd
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

listings = soup.find_all('div', class_='listing')
listing_dict = []
for listing in listings: 
    try:
        information = listing.find_all('div')[1]
        address = information.find_all('p')[1]
        price = information.find_all('p')[0]
        Bed_bath = information.find_all('p')[3]
        compiled_listing = {"Address" : address.text , 'Information': information.text, "Price": price.text, "Bed/Bath": Bed_bath.text}
        listing_dict.append(compiled_listing)
        
    except:
        pass
df = pd.DataFrame(listing_dict)

In [34]:
df.head()

,Address,Bed/Bath,Information,Price
0,"2 Horizon Road, Unit PH 2, Fort Lee","3 Bedroom, 3 full bath(s), 1 half bath(s)","\n $38,888\n2 Horizon Road, Unit PH 2, For...","$38,888"
1,"14 East 3rd Street, Moonachie","2 Bedroom, 1 full bath(s)","\n $46,000\n14 East 3rd Street, Moonachie\n...","$46,000"
2,"66 Oak Avenue, Irvington","3 Bedroom, 1 full bath(s)","\n $59,000\n66 Oak Avenue, Irvington\nMLS ...","$59,000"
3,"220-222 South 7th Street, Newark","6 Bedroom, 2 full bath(s)","\n $60,000\n220-222 South 7th Street, Newar...","$60,000"
4,"325-327 Schley Street, Newark","3 Bedroom, 1 full bath(s), 1 half bath(s)","\n $60,000\n325-327 Schley Street, Newark\...","$60,000"